 
::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: none;
}

.chat-bg{
    background-color: #f8fafc;
}
.search-box{
    background-color: #ffffff;
}
.search-box i{
    color: rgb(255, 255, 255);
}

.my-chats{
    background-color:#f8fafc ;
    color:rgb(255, 255, 255);
}

.my-chats-in{
    background-color: #f8fafc ;
    color:rgb(0, 0, 0);
}
.search-user-bg{
    background-color: #f8fafc;
}